<main class="main">
  <div class= "header">
    <h1 id="title">Albert Einstein</h1>
    <p>Was a German-born theoretical physicist who developed the theory of relativity, one of the two pillars of modern physics. </p>
  </div>
  
  <div class="img-div">
    <img id="image"
 src="https://i.postimg.cc/506fLQHK/Albert-Einstein-Nobel.png"
         alt="Einstein's official portrait after receiving the 1921 Nobel Prize in Physics"/>
  <figcaption id="img-caption">
      Einstein's official portrait after receiving the 1921 Nobel Prize in Physics
  </figcaption>
  </div>

  <section id="tribute-info">
    <h3>Here's a time line of Albert Einstein:</h3>
    <ul>
      <li><strong>1879</strong> - Albert Einstein was born in Ulm, in the Kingdom of Württemberg in the German Empire</li>
      <li><strong>1908</strong> - He was recognized as a leading scientist and was appointed lecturer at the University of Bern. </li>
      <li><strong>1913</strong> - He was voted for membership in the Prussian Academy of Sciences in Berlin.</li>
      <li><strong>1920</strong> - He became a Foreign Member of the Royal Netherlands Academy of Arts and Sciences.</li>
      <li><strong>1921</strong> - He win the Nobel Prize in Physics "for his services to Theoretical Physics, and especially for his discovery of the law of the photoelectric effect".</li>
      <li><strong>1922-1932</strong> - Einstein was a member of the International Committee on Intellectual Cooperation of the League of Nations in Genevaa body created to promote international exchange between scientists, researchers, teachers, artists and intellectuals </li>
      <li><strong>1907-1915</strong> - Developed the General relativity (GR) the theory of gravitation. </li>
      <li><strong>1916</strong> - In 1916, Einstein predicted gravitational waves, ripples in the curvature of spacetime which propagate as waves, traveling outward from the source, transporting energy as gravitational radiation. </li>
      <li><strong>1917</strong> - Einstein applied the general theory of relativity to the structure of the universe as a whole </li>
      <li><strong>1935</strong> - Einstein collaborated with Nathan Rosen to produce a model of a wormhole, often called Einstein–Rosen bridges.</li>
    </ul>
  </section>
    <div class="bottom">
      If you have time, you should read more about this incredible scientist.
      <a
        id="tribute-link"
        href="https://en.wikipedia.org/wiki/Albert_Einstein"
        target="_blank"
        >Wikipedia entry
      </a>
    </div>
 
  
</main>